/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fcee70;
    margin: 0;
    padding: 0;
    color: #000; /* Color del texto principal en negro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
header {
    background-color: #e2b00d;
    color: #000000;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

/* Estilos para el catálogo */
#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.producto {
    width: calc(50% - 10px); /* Establecer el ancho del producto */
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 10px;
}

.producto h2 {
    font-size: 18px;
    margin-top: 0;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto p {
    font-size: 14px;
    line-height: 1.5;
}

.producto p:last-child {
    font-weight: bold;
    color: #009900; /* Color de precio en verde */
}

 /* Estilos CSS para las tarjetas */
 .producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.producto h2 {
    font-size: 1.2em;
    margin: 0;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto p {
    margin: 10px 0;
}
