/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.section {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 28px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para la sección de restaurantes */
#restaurantes {
    background-color: #000000;
    color: #fff;
    padding: 100px 0;
}

/* Estilos para los títulos de restaurantes */
#container h1 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

/* Estilos para las imágenes de restaurantes */
#container img {
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
